#contacts-header {
    margin-top: 25px;
    font-size: 56px;
    text-align: center;
}

links {
    font-size: 12px;
    float: left;
    width: 100px;
}

body {
    margin: 0;
    padding: 0;
    background-color: #1b1b1b;
    font-family: 'Arial', sans-serif;
    color: #f7f7f7;
    text-align: center;
}

header,
header a {
    padding: 10px;
    color: #ff751a;
    font-size: 36px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

.header-title {
    text-decoration: none;
}

.hero-section {
    height: 100vh;
    background: url(../images/site_background.svg) no-repeat center center/cover;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

h1 {
    font-size: 64px;
    color: black;
    text-shadow: 3px 3px 20px #000;
}

p {
    font-size: 22px;
    color: #EE5622;
    margin-bottom: 30px;
}

.btn {
    background-color: #ff6600;
    border: none;
    padding: 15px 30px;
    font-size: 20px;
    font-weight: bold;
    color: white;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000;
    transition: background-color 0.1s;
}

.btn:hover {
    background-color: #ff5200;
}

.btn-secondary {
    background-color: transparent;
    border: 2px solid #3d348b;
    padding: 13px 28px;
    font-size: 20px;
    font-weight: bold;
    color: #7678ed;
    cursor: pointer;
    border-radius: 5px;
    box-shadow: 2px 2px 8px #000;
    transition: background-color 0.1s;
}

.btn-secondary:hover {
    background-color: #191919;
}

footer {
    padding: 20px;
    background-color: #282828;
    color: #ff751a;
}

.footer-content {
    margin-top: 20px;
}

links {
    font-size: 12px;
    float: left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #1b1b1b;
}

a {
    display: block;
    padding: 8px;
    background-color: #1b1b1b;
    cursor: pointer;
}

links a {
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

links a:hover {
    background-color: #ff751a;
}

.above-field-text {
    font-size: 22px;
    margin-bottom: 2px;
    margin-top: 7px;
    text-align: left;
    color: #EE5622;
}

.input-field {
    padding: 3px;
}