#contacts-table-header {
    margin-bottom: 10px;
}

#contacts-table-box {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
}

#contacts-table,
th,
td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
}

#contacts-table {
    font-family: Arial;
    width: 100%;
    border: 1px solid;
    outline-width: 2px;
    text-align: left;
}

th {
    background-color: #505050;
    color: white;
    height: 30px;
}

td {
    height: 40px;
}

tr:nth-child(even) {
    background-color: #f2f2f2;
}

tr:hover {
    background-color: lightgrey;
}

.table-header-container {
    overflow: auto;
}

.table-header-field {
    float: left;
}

.table-header-sort-div {
    float: right;
}

th button {
    cursor: pointer;
    border: 1px solid;
    margin-right: 0;
}

#logout-button {
    margin: 50px;
    vertical-align: middle;
    padding: 5px;
    cursor: pointer;
}