#contacts-table-title {
    margin-bottom: 10px;

}

contact_header {
    padding: 20px;
    color: #ff751a;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;

}

#contacts-table-box {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
}

#contacts-table,
th,
td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background-color: #505050;
    opacity: .9;
}

#contacts-table {
    font-family: Arial;
    width: 100%;
    border: 1px solid;
    outline-width: 2px;
    text-align: left;
}

th {
    background-color: #505050;
    color: white;
    height: 30px;
}

td {
    height: 40px;
    cursor: pointer;
}

tbody tr:hover {
    background-color: lightgrey;
}

.table-header-container {
    overflow: auto;
}

.table-header-field {
    float: left;
}

.table-header-sort-div {
    float: right;
}

th button {
    cursor: pointer;
    border: 1px solid;
    margin-right: 0;
}

#add-contact-submit-button {
    margin: 10px;
}

#add-contact-result {
    color: red;
}

.action-button {
    padding: 8px;
    cursor: pointer;
}

.action-button-container {
    display: flex;
    justify-content: space-evenly;
}