#table-title-container {
    display: grid;
    flex-direction: column;
    align-items: center;
    position: relative;
}

#open-add-contact-popup-button {
    margin: 10px;
    flex-grow: 1;
    max-width: 15%;
}

#contacts-table-title {
}

contact_header {
    padding: 20px;
    color: #ff751a;
    font-size: 64px;
    font-weight: bold;
    text-shadow: 2px 2px 5px black;
}

#contacts-table-box {
    margin: auto;
    margin-top: 50px;
    width: 1200px;
}

#contacts-table,
th,
td {
    padding: 5px;
    border-bottom: 1px solid #ddd;
    background-color: #505050;
    opacity: .9;
}

#contacts-table {
    font-family: Arial;
    width: 100%;
    border: 1px solid;
    outline-width: 2px;
    text-align: left;
}

th {
    background-color: #505050;
    color: white;
    height: 30px;
}

td {
    height: 40px;
    cursor: pointer;
}

tbody tr:hover {
    background-color: lightgrey;
}


.table-header-container {
    overflow: auto;
}

.table-header-field {
    float: left;
}

.table-header-sort-div {
    float: right;
}

th button {
    cursor: pointer;
    border: 1px solid;
    margin-right: 0;
}

#add-contact-popup {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: lightgrey;
    padding: 10px;
    opacity: .9;
}


#add-contact-submit-button {
    margin: 10px;
}

#add-contact-result {
    color: red;
}

.action-button {
    padding: 8px;
    cursor: pointer;
}

.action-button-container {
    display: flex;
    justify-content: space-evenly;
}

#add-contact-popup-header {
    display: flex;

}

#close-add-contact-popup-button {
    position: sticky;
    font-size: 20px;
    margin: 0;
    top: 0;
    left: 95%;
    width: 32px;
    height: 32px;
    background-color: transparent;
    outline: transparent;
    cursor: pointer;
}

#update-contact-popup {
    width: 300px;
    margin: auto;
    margin-top: 50px;
    background-color: lightgrey;
    padding: 10px;
    opacity: .9;
}

#update-contact-submit-button {
    margin: 10px;
}

#update-contact-result {
    color: red;
}

#update-contact-popup-header {
    display: flex;

}

#close-update-contact-popup-button {
    position: sticky;
    font-size: 20px;
    margin: 0;
    top: 0;
    left: 95%;
    width: 32px;
    height: 32px;
    background-color: transparent;
    outline: transparant;
    cursor: pointer;
}

#search-bar {
    width: 35%;
    line-height: 3em;
    float: left;
    margin-right: 5px;
}

#search-bar-container {
    display: flex;
    align-items: center;
    flex-grow: 2;
}

.search-and-add-container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.search-button {
    float: left;
}

#filter-box {
    background-color: black;
    margin-left: 50px;
    padding: 10px;
}

#filter-criteria-text {
    font-weight: bold;
}

#clear-filter-button {
    background: transparent;
    border: none;
    cursor: pointer;
    width: 25px;
    height: 30px;
    border-radius: 3px;
}
