#login-or-signup-box {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    padding-left: 12px;
    padding-right: 12px;
    background: rgba(49, 38, 62, 0.78);
    border-radius: 8px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(10.8px);
    -webkit-backdrop-filter: blur(10.8px);
    border: 1px solid rgba(49, 38, 62, 0.3);
}

#login-or-signup-header {
    font-size: 36px;
    text-align: center;
    display: block;
}

#login-or-signup-result {
    margin-top: 5px;
    margin-bottom: 0px;
    color: #ECA72C;
}

#switch-login-or-signup {
    text-align: center;
    font-size: 16px;
}

#switch-login-or-signup-button {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
    background: none;
    border: none;
    color: #ECA72C;
}

#switch-login-or-signup-text {
    display: inline-block;
    color: #EE5622;
}

#show-password-button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
    color: #ECA72C;
}