#login-or-signup-box {
    width: 400px;
    margin: auto;
    margin-top: 50px;
    background-color: lightgrey;
    padding: 10px;
    opacity: .9;
}

#login-or-signup-header {
    font-size: 36px;
    text-align: center;
    display: block;

}

#login-or-signup-result {
    margin-top: 5px;
    margin-bottom: 0px;
    color: red;
}

#switch-login-or-signup {
    text-align: center;
    font-size: 16px;
}

#switch-login-or-signup-button {
    cursor: pointer;
    font-size: 20px;
    text-decoration: underline;
    display: inline-block;
    background: none;
    border: none;
    color: blue;
}

#switch-login-or-signup-text {
    display: inline-block;
}

#show-password-button {
    background: none;
    border: none;
    text-decoration: underline;
    cursor: pointer;
}